body {
  display: grid;
  grid-template-areas:
    "header header header"
    "menu centerSection workflowList";
  grid-template-columns: 20% 1fr 20%;
  grid-template-rows: 0.05fr 0.95fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-column-gap: 0.5fr;
  grid-row-gap: 0.5fr;
  height: 100vh;
  margin: 0;
}

centerSection, workflowList, menu, div{
   padding: 0.5em; 
}

.header {
    grid-area: header;
}

.centerSection { 
    grid-area: centerSection; 
    /*display: inline;*/
    maight-right: auto;
    float: none;
    
}

.workflowList { 
    grid-area: workflowList; 
    text-align: center;
}

.menu { 
    grid-area: menu; 
    text-align: left;
}

#welcomeMessage {
    display: inline;
}

#currentWorkflow {
    display: none;
}

#addWorkflow {
    display: none;
}


#deleteWorkflow {
    display: none;
}


#reexecuteWorkflow {
    display: none;
}


#settings {
    display: none;
}

#viz {
    width: 100%;
    height: 350px;
}

#pause-wf_button {
    display: none;
}

#download-archive_button {
    display: none;
}

#resume-wf_button {
    display: none;
}

#add-warning {
    display: none;
}
