*~
__pycache__
poetry.lock
*.iso
*.pyc
*.egg-info
*.out
*.tgz
*.tar.gz
*.log
.python-version
.DS_Store
.idea
.idea/vcs.xml
.vscode
.env
.venv
docs/sphinx/_build
src/beeflow/enhanced_client/node_modules
**/dist
_build
