[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylama = "*"
pylint = "*"
pycodestyle = "*"
pyflakes = "*"
pydocstyle = "*"

[packages]
neo4j = "*"
pyyaml = "*"
flask = "*"

[requires]
full_python_version = "3.6.8"
