[tool.poetry]
name = "hpc-beeflow"
version = "0.1.3"
description = "A software package for containerizing HPC applications and managing job workflow"


authors = [
    "BEE-LANL Dev Team <bee-dev@lanl.gov>"
]

readme = "README.rst"

repository = "https://github.com/lanl/BEE"

keywords = [
    "bee",
    "hpc",
    "workflow",
    "cluster",
    "computing"
]

classifiers = [
    "Environment :: Console",
    "Environment :: OpenStack",
    "Environment :: Other Environment",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: Other/Proprietary License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Scientific/Engineering",
    "Topic :: System :: Clustering",
    "Topic :: System :: Distributed Computing",
    "Topic :: System :: Logging",
    "Topic :: System :: Monitoring"
]

packages = [
    { include = "beeflow" }
]

[tool.poetry.scripts]
beeflow = 'beeflow.cli:main'
beeclient = 'beeflow.client.bee_client:main'
beecloud = 'beeflow.cloud_launcher:main'
beecfg = 'beeflow.common.config_driver:main'

[tool.poetry.dependencies]
# Python version (>=3.8.3, <3.11)
python = ">=3.8.3,<=3.11"

# Package dependencies
Flask = { version = "^2.0" }
Jinja2 = { version = "<3.1" }
neo4j = { version = "^1.7.4" }
PyYAML = { version = "^5.1.1" }
flask_restful = "0.3.9"
cwl-utils = "^0.16"
APScheduler = "^3.6.3"
jsonpickle = "^2.2.0"
requests-unixsocket = "^0.3.0"
python-daemon = "^2.3.1"
gunicorn = "^20.1.0"
# typer version 0.6 and above seem to be throwing an AssertionError with no
# attached info
typer = "^0.5.0"

# Cloud optional dependencies
google-api-python-client = { version = "^2.66.0", optional = true }
python-openstackclient = { version = "^6.0.0", optional = true }
python-heatclient = { version = "^3.1.0", optional = true }

[tool.poetry.extras]
cloud_extras = ["google-api-python-client", "python-openstackclient", "python-heatclient"]

[tool.poetry.dev-dependencies]
# Developer dependencies
pycodestyle = { version = ">=2.5.0" }
pydocstyle = { version = ">=4.0.0" }
pyflakes = { version = ">=2.1.1" }
pylama = { version = ">=7.7.1" }
pylint = { version = ">=2.3.1" }
pytest = { version = ">=6.0.0" }
pytest-mock = { version = ">=3.3.1" }
sphinx = "^2.1"
sphinx-rtd-theme = "^1.0"
cwltool = "^3.0.20200324120055"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
