[tool.poetry]
name = "beeflow"
version = "0.1.0"
description = "A software package for containerizing HPC applications and managing job workflow"

authors = [
    "BEE-LANL Dev Team <bee-dev@lanl.gov>"
]

readme = "README.md"

repository = "https://github.com/lanl/BEE"
homepage = "https://bee.lanl.gov"

keywords = [
    "bee",
    "hpc",
    "workflow",
    "cluster",
    "computing"
]

classifiers = [
    "Environment :: Console",
    "Environment :: OpenStack",
    "Environment :: Other Environment",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: Other/Proprietary License",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Scientific/Engineering",
    "Topic :: System :: Clustering",
    "Topic :: System :: Database",
    "Topic :: System :: Distributed Computing",
    "Topic :: System :: Logging",
    "Topic :: System :: Monitoring"
]

[tool.poetry.scripts]
beeflow = 'beeflow.cli:main'
bee_client = 'beeflow.client.bee_client:main'
bee_cloud = 'beeflow.cloud_launcher:main'
bee_cfg = 'beeflow.common.config_driver:main'

[tool.poetry.dependencies]
# Python version (>=3.8.3, <4.0.0)
python = "^3.8.3"

# Package dependencies
Flask = { version = "^1.1.1" }
# There are some issues with newer versions of MarkupSafe and Jinja2
MarkupSafe = { version = "==2.0.1" }
neo4j = { version = "^1.7.4" }
PyYAML = { version = "^5.1.1" }
flask_restful = "0.3.7"
celery = {extras = ["redis"], version = "^4.4.0"}
redis = "^3.3.11"
cwl-utils = "^0.13"
pylint = { version = ">=2.3.1" }
APScheduler = "^3.6.3"
jsonpickle = "^1.3"
requests-unixsocket = "^0.2.0"

# Scheduler optional dependencies
tensorflow = { version = "^2.3.0", optional = true }
matplotlib = { version = "^3.3.1", optional = true }
cmd2 = "^2.0.1"

# Cloud optional dependencies
google-api-python-client = { version = "^1.12.8", optional = true }
python-openstackclient = { version = "^5.5.0", optional = true }
python-heatclient = { version = "^2.3.0", optional = true }
typer = "^0.4.1"
pyflakes = "2.4.0"

[tool.poetry.extras]
scheduler_extras = ["tensorflow", "matplotlib"]
cloud_extras = ["google-api-python-client", "python-openstackclient", "python-heatclient"]

[tool.poetry.dev-dependencies]
# Developer dependencies
pycodestyle = { version = ">=2.5.0" }
pydocstyle = { version = ">=4.0.0" }
pyflakes = { version = ">=2.1.1" }
pylama = { version = ">=7.7.1" }
pylint = { version = ">=2.3.1" }
pytest = { version = ">=6.0.0" }
pytest-mock = { version = ">=3.3.1" }
sphinx = "^2.1"
sphinx-rtd-theme = "^0.4.3"
cwltool = "^3.0.20200324120055"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
