choose-mirror-bin mirror/http/proxy string
d-i debian-installer/framebuffer boolean false
d-i debconf/frontend select noninteractive
d-i base-installer/kernel/override-image string linux-server
d-i clock-setup/utc boolean true
d-i clock-setup/utc-auto boolean true
d-i finish-install/reboot_in_progress note
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

d-i partman-auto/method string regular
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true

d-i pkgsel/include string openssh-server 
# d-i pkgsel/include string build-essential openssh-server ntp curl nfs-common
d-i pkgsel/install-language-support boolean false
d-i pkgsel/update-policy select none
d-i pkgsel/upgrade select full-upgrade

# d-i preseed/late_command string apt-install zsh; in-target chsh -s /bin/zsh
# d-i preseed/early_command string echo "Starting"
# d-i preseed/late_command string echo "Ending"

tasksel tasksel/first multiselect standard, ubuntu-server

d-i time/zone string UTC
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false

# This stuff is in boxcutter, but was not in (different than) packer-qumu-templates
# d-i partman-auto-lvm/guided_size string max
# d-i partman-auto/choose_recipe select atomic
# d-i partman-auto/method string lvm
# d-i partman-lvm/confirm boolean true
# d-i partman-lvm/confirm_nooverwrite boolean true
# d-i partman-lvm/device_remove_lvm boolean true
# d-i partman/choose_partition select finish
# d-i partman/confirm boolean true
# d-i partman/confirm_nooverwrite boolean true
# d-i partman/confirm_write_new_label boolean true

# d-i pkgsel/include string openssh-server ntp curl nfs-common linux-headers-$(uname -r) build-essential perl dkms

