#!/bin/bash
#SBATCH --job-name={{task_name}}-{{task_id}}
#SBATCH --output={{workflow_path}}/{{task_name}}-{{task_id}}.out
#SBATCH --error={{workflow_path}}/{{task_name}}-{{task_id}}.err
{% if 'beeflow:MPIRequirement' in hints and 'nodes' in hints['beeflow:MPIRequirement'] %}
#SBATCH -N {{ hints['beeflow:MPIRequirement']['nodes'] }}
{% endif %}
{% if 'beeflow:MPIRequirement' in hints and 'ntasks' in hints['beeflow:MPIRequirement'] %}
#SBATCH -n {{ hints['beeflow:MPIRequirement']['ntasks'] }}
{% endif %}

{% for cmd in commands %}
srun {{ cmd|join(' ') }}
{% endfor %}
