name: Pylint Lint

on:
  # For manual exec
  # (https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/)
  workflow_dispatch: {}
  push:
    branches: [main, develop]
  pull_request:
    types: [opened, synchronize, edited, labeled, unlabeled]
    branches: [main, develop]

jobs:
  pylama:
    if: ${{ !(contains(github.event.pull_request.labels.*.name, 'WIP (no-ci)')) }}
    name: Pylint Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint
        run: |
          pip install pylint==3.2.7 2>&1 >/dev/null
          pylint beeflow/
